body, html
{
	color:#999;
}

ul.nav, ul.branding
{
	font-family: "Rosario", Helvetica, Geneva, Arial;
}

div#container
{
	padding-top: 20px;
	width:750px;
	margin: 0 auto;
}

/*div#container*/
/*{*/
	/*background: #000;*/
	/*width:870px;*/
	/*margin:0 auto;*/
/*}*/

footer
{
	border:none;
}

.buffer85
{
	margin-top:85px;
}

.buffer45
{
	margin-top:45px;
}

header
{
	min-height:200px;
}

h1
{
	font-size:36pt;
	font-family: "Rosario", Helvetica, Geneva, Arial;
	color:white !important;
}

.popover .inner {
	background: #fff;
	padding: 3px;
	overflow: hidden;
	width: inherit;
	/*min-height:inherit;*/
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0px 25px rgba(0, 0, 0, 0.3);
}

/*.popover .inner*/
/*{*/
	/*width:inherit;*/
	/*min-height:inherit;*/
	/**/
	/**/
/*}*/

.popover .inner .content h4
{
	font-size:10pt;
	text-transform:uppercase;
}

.popover .inner .title
{
	/*background: #fff;*/
	border-color: #999;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.popover .inner .content
{
	min-height: inherit;
	background: #e1e1e1;
	color:#666;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.popover .inner .content p
{
	/*margin-top:10px;*/
}

div.popover.right .arrow
{
	border-right: 5px solid #999!important;
	/*color:white;*/
}

div.popover.left .arrow
{
	right: -6px;
	border-right: none;
	border-left: 5px solid #999!important;
	/*color:white;*/
}

.popover
{
	width:300px;
	/*min-height: 500px;*/
}

.media-grid a
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	border-color:#999;
}

.media-grid a:hover
{
	border-style:dashed;
	border-color:#999;
}

p.home
{
	font-size:12pt;
	font-family: "Rosario", Helvetica, Geneva, Arial;
}

p.email a, p.email a:hover, p.email a:visited
{
	text-decoration: none;
	color:white;
}

p.email a:hover
{
	text-decoration: underline;
}

/*BLOG*/



.topbar a.brand
{
	/*padding-left:40px;*/
	font-family: "Rosario", Helvetica, Geneva, Arial;
}


div.post
{

}


div.post h1
{
	text-align:center;
	font-size:24pt;
	font-family: "Rosario", Helvetica, Geneva, Arial;
}


div.post h2, div.posts h2
{
	font-size:16pt;
	font-family: "Rosario", Helvetica, Geneva, Arial;
	color:#e1e1e1;
}


div.post img.right
{
	float:right;
	margin:15px 0 15px 15px;
}

div.post img.left
{
	float:left;
	margin:15px 15px 15px 0;
}

div.post p strong
{
    color:#e1e1e1;
}

div.post p
{
	font-family:"Helvetica Neue", Helvetica, Arial, Geneva;
	font-size:11pt;
	line-height: 1.5em;
	padding-bottom: 20px;
}

div.post-body
{
	margin-top: 20px;
	padding-top: 20px;
	border-top:1px solid #333;
}

p.post-desc
{
	color:#666;
	text-align:center;
	font-size:10pt !important;
    font-family: "Rosario", Helvetica, Geneva, Arial !important;
	/*margin-bottom:40px;*/
}

p.post-timestamp, p.post-author
{
	text-align: center;
	font-size:10pt !important;
	font-style: oblique;
	padding-bottom: 0 !important;
    font-family: "Rosario", Helvetica, Geneva, Arial !important;
}

p.post-author
{
	border-top:1px solid #333;
	padding-top:20px;
}


div.posts a,
div.posts a:hover,
div.posts a:visited
{
	color:white;
}

div.post a,
div.post a:hover,
div.post a:visited
{
	color:white;
}

div.blog-header-image
{
	margin-top:40px;
	/*width:inherit;*/
	/*margin: 0 auto;*/
}

div.posts h2
{
	text-align: center;
	line-height: 1.2em;
}

div.posts-row p
{
	text-align: center;
    font-family: "Rosario", Helvetica, Geneva, Arial !important;
}

div.posts-row
{
	margin-bottom:24px;
	padding-bottom:20px;
	border-bottom: 1px solid #333;
}

div.share-buttons
{
	/*border-top:1px solid #333;*/
	padding-top: 20px;
}

div.share-button
{
	margin-bottom:10px;
}

div.post li
{
    margin-bottom:10px;
    font-size:11pt;
    color:#e1e1e1;
}
